body {
	margin: 0 auto;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}

header {
	min-width: 40em;
	height: 4em;
	line-height: 4em;
    background: #eee; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient( #eee, #fff ); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient( #eee, #fff ); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient( #eee, #fff ); /* For Firefox 3.6 to 15 */
    background: linear-gradient( #eee, #fff ); /* Standard syntax (must be last) */
}

#title {
	float: left;
	width: 30%;
	font-size: 32px;
	font-weight: bold;
}

#score {
	float: right;
	width: 70%;
	font-size: 16px;
}

#currentScore, #bestScore {
	color: red;
	font-weight: bold;
}

section {
	margin: 2em 0;
}

table {
	font-size: 32px;
	margin: 0 auto;
	background-color: #6C541E;
	border-spacing: 0.2em;
}

td {
	width: 2.5em; 
	height: 2.5em;
	border: 0.05em solid #888;
	background-color: #DCD7D4;
}

.colour2 { background-color: #FFF; color: #000; }
.colour4 { background-color: #FFFF99; color: #000; }
.colour8 { background-color: #FFBF00; color: #000; }
.colour16 {	background-color: #FF7F50; color: #000;	}
.colour32 { background-color: #FF4040;  color: #000; }
.colour64 {	background-color: #FF0800; color: #000;	}
.colour128 { background-color: #C154C1; color: #000; }
.colour256 { background-color: #B53389; color: #000; }
.colour512 { background-color: #A57164; color: #000; }
.colour1024 { background-color: #555D50; color: #000; }
.colour2048 { background-color: #003399; color: #000; }
.colour4096, .colour8192, .colour16384, .colour32768, .colour65536 { background-color: #000; color: #fff; }
